<h1>Welcome to The Wonderful World of Rock Paper Scissors</h1>
<form action="/rps">
  <div class="form-group">
    <label for="rps">Each Player enter Rock Paper or Scissors
    </label>
    <br />
    <label>Player 1: </label> <input id="player" name="player" class="form-control remove_block" type="text">
    <br />
    <label>Player 2: </label> <input id="opponent" name="opponent" class="form-control remove_block" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
