.remove_block {
  display: inline;
  width: auto;
}

#winner {
  font-size: 800%;
  text-align: center;
  text-shadow: 2px 2px #FF0000;
  border-style: outset;
  margin-top: 200px;
  background-color: cyan;
}
